{% load colaborador_tags %}
{% block contenido %}
<center>
<div class="fondo_comentarios">
        <br>
        <h2>Comentarios</h2>
        <br>
<div class="fondo_comentarios">
        {% for comentario in comentarios %}
        <div class="comentario"> 
                <div style="display: flex; flex-direction: row;">
                        <img src="{{ comentario.usuario.imagen.url }}" alt="">
                        <div style="display: flex; flex-direction: column; align-items: start; margin-left: 10px;">
                                <h7>{{comentario.usuario}}</h7>
                                <h9>{{comentario.fecha}}</h9>
                                {% if user.is_superuser or comentario.usuario == user %}
                                 <a class="boton_menus" id="boton_post" href="{%url 'apps.posts:comentario_editar' pk=comentario.pk %}?next={{request.path}}">Editar comentario</a>
                                {% endif %}
                                {% if user.is_superuser or comentario.usuario == user or request.user|has_group:"Colaborador" %}
                                <a class="boton_menus_eliminar" id="boton_post" href="{% url 'apps.posts:comentario_eliminar' pk=comentario.pk %}">Eliminar comentario</a>
                                {% endif %}
                        </div>
                </div>
                <p style="margin-right: 38%;">{{ comentario.texto }}</p>
        </div>

        {% empty %}
        <h2>No hay comentarios - Puedes ser el primero en comentar!</h2>
        {% endfor %}
</div>
<a id="comentario"></a>
<div class="fondo_comentarios">
        <br>
        <form method="POST">
                {% csrf_token %}
                {% if user.is_authenticated %}
                <h2>Deja tu comentario</h2>
                        <form method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" value="Comentar">
                        </form>
                {% else %}
                <h2>Debes iniciar sesión o registrarse para comentar</h2>
                <a class="btn btn-success btn-lg" href="{% url 'apps.usuario:login' %}?next={{ request.path }}#comentario">Iniciar sesión</a>
                <input type="hidden" name="next" value="{{ request.path }}">
                {% endif %}
        </form>
        <br>
</div>
</center>
{% endblock %}