{%extends 'base.html'%}

{%block contenido%}
    <div class="p-0 bg-dark text-white" style="background-image: url('static/img/landing_bg.png'); background-size: cover; background-position: center; height: 150vh;">
    <!-- Content goes here -->
     <br><br><br>
    <div class="landing_hero">
        <h1>Recetas que nacen en casa y se cocinan con cariño</h1>
        <p>Platos simples, sabores reales y tips de cocina para disfrutar todos los días, sin complicaciones.</p>
    </div>
</div>
{% endblock %}