@import url('fonts.googleapis.com');

* {
    font-family: "Baloo 2", sans-serif;
}


.dropdown {
    position: relative;
    }   

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    }

.dropdown:hover .dropdown-content {
    display: block;
    }


.barra_navegacion {
    background-color: #d6511d;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    border-bottom: solid 10px;
    border-color: #5f2007;
}

.landing_hero{
    margin-left: 50%; 
    width: 600px;
    text-shadow: 2px 2px #000000;
}

.landing_hero h1{
    font-size: 50px;
}

.landing_hero p{
    font-size: 30px;
}

.nav_container{
    
    font-family: "Baloo 2", sans-serif;
    font-size: 20px;
    width: 600px;
    display: flex;
    justify-content: space-around;
}



.nav_container a{
    color: black;
    font-family: "Baloo 2", sans-serif; 
    text-decoration: none !important;
    font-size: 30px;
}

.nav_container a:visited{
    color: black;
    font-family: "Baloo 2", sans-serif; 
    text-decoration: none !important;
    font-size: 30px;
}

.nav_container a:hover {
    color: rgb(255, 255, 255);
    font-family: "Baloo 2", sans-serif;
    font-size: 30px;
    text-decoration: none;
}

.fondo{
    background-image: url('../img/contact_background.png'); 
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    border-bottom: solid 10px;
    border-color: #5f2007;
}

.formulario_contacto{
    margin-left: 10%;
}

.formulario_contacto a{
    align-self: center;
    font-size: 50px;
}