{%extends 'base.html'%}
{% load static %}
{% load colaborador_tags %}

{%block contenido%}
<div class="fondo_posts">
    <h1>Recetas</h1>
    <h2>Ordenar por: </h2>
    <ul>
        <a id="boton_post" href="{% url 'apps.posts:posts' %}?orden=reciente">Más reciente</a> 
        <a id="boton_post" href="{% url 'apps.posts:posts' %}?orden=antiguo">Más antiguo</a> 
        <a id="boton_post" href="{% url 'apps.posts:posts' %}?orden=alfabetico">Orden alfabético</a> 
    </ul>
    {% if user.is_superuser or request.user|has_group:"Colaborador" %}
        <div>
            <a class="btn btn-warning" id="boton_post" href="{% url 'apps.posts:crear_post' %}">Crear nuevo post</a>
        </div>
    {% endif %}
    <div class="contenedor_posts">

        {% for i in posts%}

            <div class="tarjeta_receta">
                <img src="{{ i.imagen.url }}">
                <div class="info_tarjeta_contenedor">
                    <h3>{{i.titulo}}</h3>
                    <h7>Categoría: {{i.categoria}}<h7>
                    <a
                        name=""
                        id=""
                        class="btn btn-warning"
                        href="{% url 'apps.posts:post_individual' i.id %}"
                        role="button"
                        >Ir a receta</a>
                    </div>
            </div>
            
            {% empty %}
            <h1>No hay registros</h1>

        {%endfor%}
        </div>
</div>
{% endblock %}  