{%extends 'base.html'%}
{% load static %}
{% load colaborador_tags %}

{%block contenido%}


<div class="container-fluid">
    {% if user.is_superuser or request.user|has_group:"Colaborador" %}
        {% for i in usuarios %}
        <div style="display: flex; flex-direction: row;align-items: center;justify-content: space-evenly;">
            <img src="{{ i.imagen.url }}" alt="">
            <h1>{{i.username}}</h1>
            (<a style="color:black;" href="{% url 'apps.usuario:usuario_delete' i.pk %}">Eliminar</a>)

        </div>
        {% empty %} 
        <h1>No hay registros</h1>
        {%endfor%}
    {% endif %}
</div>
{% endblock %}  
